<main class="d-grid gap-3">
  <%= render "user", user: @user %>
  <% @posts.each do |post| %>
    <div>
      <%= render "post", post: post %>
      <ul class="list-group border-bottom">
        <%= render partial: "comment", collection: post.recent_comments %>
      </ul>
    </div>
  <% end %>
</main>