<h1>Here is the data for a specific user(id)</h1>
<span class="bg-info text-white p-2 rounded-circle">
<%= @user_id %>
</span>
<h2>Post Id:</h2>
<span class="bg-info text-white p-2 rounded-circle">
  <%= @post_id %>
</span>
